/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.libres{
    padding-bottom: 160px;
}

.absolute {
    position: absolute;
}

:root {
    --black: rgba(0, 0, 0, 1);
    --blackop: rgba(0, 0, 0, 0.5);
    --deepblue: rgba(20, 25, 34, 1);
    --darkgray: rgba(40, 40, 40, 1);
    --white: rgba(255, 255, 255, 1);
    --lightgray: rgba(113, 113, 113, 1);
    --lightgreen: rgba(173, 255, 47, 1);
    --font-m: 12px;
    --font-l: 15px;
    --font-s: 11px;
}


 .logo-mobile{
    display: none;
 }

.debug {
    border: 1px solid yellow;
    min-height: 50px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

img {
    max-width: 100%;
}

span {
    display: block;
}


.copertina-album{
    width: 100%;
    margin-top: 90px;
    height: 40vh;
background-color: #554E3F;
    background-size: cover;
display: flex;
align-items: center;
padding-left: 50px;
margin-bottom: 40px;
}
.copertina-album h1{
    font-size: 7rem;
    color: var(--white);
}

.number-song{
    padding-left: 20px;
    color: var(--lightgray);
    display: flex;
    align-items: center;
    width: 10%;
}
.box-flex div{
    padding-left: 15px;
}
.box-flex p{
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
}
.span-song{
    color: var(--lightgray);
    font-size: 0.8rem;
}
.box-flex{
align-items: center;
    display: flex;
    width: 40%;
}
.box-flex img{
    width: 50px;
}

.album-name{
    color: var(--lightgray);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: 20%;
    font-weight: bold;

}

.album-tempo{
    font-weight: bold;

    color: var(--lightgray);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: 20%;
}
.album-minuto{
    font-weight: bold;

    color: var(--lightgray);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: 20%;
}

.single-song:hover *{
    cursor: pointer;
    color: var(--white);
}

.single-song{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

.name-playlist{
    font-size: 0.9rem;
    margin-top: 20px;
    font-weight: bold;

}

.copertina-album p{
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}



/*Nav bar left*/
nav {
    flex-direction: column;
    justify-content: flex-start;
    color: var(--lightgray);
    position: relative;
    padding: 20px 20px;
    background-color: var(--black);
    z-index: 5000;
}

nav img {
    width: 65%;
}

.menu {
    padding-top: 30px;
    position: relative;
}
.menu li{
    list-style: none;
}


#crea{
    display: flex;
    justify-content: start;
    align-items: baseline;
}


.menu-icon {
    width: 24px;
    fill: var(--lightgray);
}

nav li svg {
    color: var(--white);
    vertical-align: top;
}

nav li p {
    line-height: 28px;
    font-size: var(--font-s);
    font-weight: 600;
    display: inline;
    vertical-align: middle;
    padding-left: 5px;
}

.playlist {
    flex-direction: column;
    height: calc(100% - 250px);
    overflow: auto;
}

.playlist li {
    padding-top: 10px;
}



.playlist-title {
    padding-top: 25px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: var(--font-l);
    text-transform: uppercase;
    color: var(--white);
}

.add-playlist {
    background-color: var(--lightgray);
    padding: 8px 8px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;

}




.add-playlist i {
    font-size: 1.2rem;
    color: #000000;
    padding: 10px;
}

.profile-box {
    padding-top: 15px;
    align-items: center;
    gap: 10px;
    
}

.install-app-box {
    align-items: center;
    gap: 5px;
    padding-bottom:8px;
    border-bottom:1px solid var(--lightgray);
}

.profile {
    position: absolute;
    bottom: 95px;
    left: 0;
    padding: 10px 0 10px 25px;
    background-color: var(--black);
    width: 100%;
}

.profile-img svg {
    width: 30px;
    height: 30px;
    fill: var(--white);
    background-color: var(--lightgray);
    border-radius: 50px;
}
.profile  h3{
    color:var(--white);
}
.install-app svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: var(--lightgray);
}

.time-bar{
    width: 100%;
}

.titolo-table:hover *{
color: var(--lightgray) ;

}

.titolo-table-1{
    color: var(--lightgray);
    font-size:0.8rem ;
    font-weight: bold;
}

/* main classes */
.wrapper {
    width: 100%;
    height: 100vh;
}

.overflow{
    padding-bottom: 160px;
    overflow: auto;
    height: 100vh;
}
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.just-c {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.btn {
    border: 1px solid;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    text-align: center;
}

.btn-white {
    border-color: var(--white);
}

.btn-a-white {
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-m);
}

.nav-list {
    color: var(--lightgray);
    list-style-type: none;
    text-decoration: none;
    font-size: var(--font-m);
}

.up {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.autor-gray {
    font-size: var(--font-s);
    color: var(--lightgray);
    font-weight: bold;
}

/* MAIN */
main {
    width: 100%;
    height: 100%;
}




/* main content */
.main-content {
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--deepblue);
}

aside {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 700;
    padding-right: 1.2rem;
}

.libres {
    height: 100%;
    overflow-y: auto;
    padding-top: 90px;
}
.nav-libres{
    background-color:#141922;
z-index: 50;}


.nav-libres ul li {
    padding-right: 1.8rem;
    padding-top: 1.2rem;
  
}

.recent-play {
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
}

.card {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    width: calc((100% - 3rem) / 6);
    text-align: center;
}

.bround-card {
    border-radius: 50%;
}
.img-album {
    position: relative;
    cursor: pointer;}

.album-title {
    font-size: var(--font-l);
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
}

.under-h2 {
    padding-top: 0.5rem;
}

/* FOOTER */




.name-song div{
    display: block !important;
}
.name-song{
    padding-left: 20px;
    display: flex;
    align-items: center;
}


footer {
    width: 100%;
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 5000;
}
.control-bar {
    color: var(--white);
}


.inner-control-bar {
    height: 100%;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    z-index: 3000;
}

.inner-control-bar-sx {
    align-items: center;
    flex-basis: 25%;
}

.inner-control-bar-center {
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    flex-basis: 50%;
    gap: 10px;
}

.inner-control-bar-dx {
    align-items: center;
    flex-basis: 25%;
    gap: 25px;
    justify-content: flex-end;
}

.inner-control-bar-sx img {
    width: 70px;
    padding-right: 15px;
}

.favourite {
    padding-left: 35px;
    color: var(--lightgrey);
    font-size: var(--font-l);
}

.favourite :first-child {
    padding-right: 15px;
}

.control {
    font-size: 1.5rem;
    gap: 40px;
    align-items: center;
}

.play {
    font-size: 2.5rem;
}

.time-bar {
    align-items: center;
    font-weight: 600;
}



.bar {
    height: 5px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--grey-med);
    margin: 0 20px;
    position: relative;
}

.bar:after {
    display: block;
    position: absolute;
    content: '';
    background: var(--light-grey);
    height: 5px;
    width: 250px;
    border-radius: 20px 0 0 20px;
}

.inner-control-bar-dx i {
    font-size: 1rem;
}

.vol {
    height: 5px;
    width: 30%;
    border-radius: 20px;
    background-color: var(--grey-med);
    position: relative;
}

.vol:after {
    display: block;
    position: absolute;
    content: '';
    background: var(--light-grey);
    height: 5px;
    width: 30px;
    border-radius: 20px 0 0 20px;
}



/* hover e animazioni */
.btn-white:hover{
    transform: scale(1.15);
}
.menu li:hover:before {
    display: block;
    position: absolute;
    left: -20px;
    content: '';
    background: var(--lightgreen);
    height: 35px;
    width: 3px;
    margin-top: -4px;
}

.menu li:hover .menu-icon {
        fill: var(--white);
        color: var(--white);
        cursor: pointer;
    }
    
 .menu li:hover p {
        color: var(--white);
        cursor: pointer;
    }

    .playlist li:hover  {
       color: var(--white);
        cursor: pointer;
    }

    .playlist li:hover  {
   
        cursor: pointer;
    }
    .playlist #crea span  {
        background-color: var(--white);
    }
    .install-app-box:hover{
        color:var(--white);
    }
    .evidex{
    border-bottom:1px solid var(--lightgreen);
    color:var(--white);
    padding-bottom: 3px;
   }

   li .nav-list:hover{
    color:var(--white);
   }

   .play-tast a{
    color: var(--white)
   }

   .play-tast{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--blackop);
    display: none;
   }
   .album {
    position: relative;
    cursor: pointer;
}

.album i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
}
.album:hover .play-tast {
    display: block;
}
#tasto-play-bar :hover{
    transform: scale(110%);

}

::-webkit-scrollbar {
    width: 2px;
    height: 10px;
    overflow: overlay
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px var(--black); 
    background: var(--black) ;
    border-radius: 10px;
    overflow: overlay;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--lightgreen); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--lightgreen); 
  }


/*media*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .card{
        width: calc((100% - 3rem) / 4);
    }
    .recent-play .d-flex{
        flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .card{
        width: calc((100% - 3rem) / 2);
    }
    .recent-play .d-flex{
        flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 768px) {
    .card{
        width: 46%;
    }
    .recent-play .d-flex{
        flex-wrap: wrap;
    }
    .playlist{
        display: none;
    }
    .menu li p{
        display: none;
    }
    .playlist-title{
        display: none;
    }
    .main-content{
        width: 100%;
    }
    .nav-libres ul{
        flex-wrap: wrap;
    }
 nav{
    width: 15%;
 }
 .nav-libres{
    width: 100%;
 }

 .profile-box h3{
    display: none;
 }
 .install-app-box h4{
display: none;
 }

 .install-app-box{
    border-bottom: none;
 }

 .profile{
    padding: 0;
 }

 .install-app-box{
    justify-content: center;
 }

 .profile-box{
    justify-content: center;
 }

 .menu li{
    text-align: center;
    margin-bottom: 12px;
 }
 .btn-white,.btn-white a{
    font-size: 0.6rem;
 }

 .recent-play{
    padding-right: 0;
 }

 .logo-desktop{
    display: none;
 }

 .logo-mobile{
    display: block;
    margin: 0 auto;
 }



 .inner-control-bar-sx,.inner-control-bar-dx{
    width: 20%;
 }
 .control{
    gap: 15px;
    font-size: 1rem;
 }

 .inner-control-bar-sx img{
    width: 60px;
 }
 .play{
    font-size: 1.8rem;
 }
 .inner-control-bar-sx h3,.inner-control-bar-sx h5{
    font-size: 0.8rem;
 }
 .favourite{
    padding-left: 10px;
 }
 .inner-control-bar-dx{
    gap: 15px;
 }

 .inner-control-bar-dx i{
    font-size: 0.8rem;
 }
 .time-bar span{
    font-size: 0.8rem;
 }

  }



