
/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black: rgba(0, 0, 0, 1);
    --blackop: rgba(0, 0, 0, 0.5);
    --deepblue: rgba(20, 25, 34, 1);
    --darkgray: rgba(40, 40, 40, 1);
    --white: rgba(255, 255, 255, 1);
    --lightgray: rgba(113, 113, 113, 1);
    --lightgreen: rgba(173, 255, 47, 1);
    --font-m: 12px;
    --font-l: 15px;
    --font-s: 11px;
}
.debug {
    border: 1px solid yellow;
    min-height: 50px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}
img {
    max-width: 100%;
}
span {
    display: block;
}
/* main classes */
.wrapper {
    width: 100%;
    height: 100vh;
}
.d-flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.column {
    flex-direction: column;
}
.just-c {
    justify-content: center;
}
.just-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
.btn {
    border: 1px solid;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    text-align: center;
}
.btn-white {
    border-color: var(--white);
}
.btn-a-white {
    color: var(--white);
    text-decoration: none;
    font-size: var(--font-m);
}
.nav-list {
    color: var(--lightgray);
    list-style-type: none;
    text-decoration: none;
    font-size: var(--font-m);
}
.up {
    text-transform: uppercase;
}
.bold {
    font-weight: bold;
}
.autor-gray {
    font-size: var(--font-s);
    color: var(--lightgray);
    font-weight: bold;
}
 /* MAIN */
main {
    width: 100%;
    height: calc(100vh - 90px);
}
#left-nav {
    width: 230px;
    height: 100%;
    background-color: var(--black);
    z-index: 1800;
    padding: 1.2rem 1rem 0.5rem 1rem;
    
}
.bar-profile{
    margin-top: 1em;
}
.bar-profile li {
    
list-style: none;
}
.bar-profile li svg{ 
    
  width: 25px;
}
.bar-profile li a{
    text-decoration: none;
    color:var(--lightgray);
    vertical-align: middle;
}

/* main content */
.main-content {
    width: calc(100% - 230px);
    height: 100% ;
    background-color: var(--deepblue);
}
aside {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 700;
    padding-right: 1.2rem;
} 
.libres {
    height: 100%;
    overflow-y: auto;
    padding-top: 90px;
}
.nav-libres ul li {
    padding-right: 1.8rem;
    padding-top: 1.2rem;
}
.recent-play {
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
}
.card {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    width: calc((100% - 3rem) / 6);
    text-align: center;
}
.bround-card {
    border-radius: 50%;
}
.album-title {
    font-size: var(--font-l);
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
}
.under-h2 {
    padding-top: 0.5rem;
}

 /* FOOTER */
 footer {
    width: 100%;
    height: 90px;
    background-color: yellow;
    position: fixed;
    bottom: 0;
    z-index: 900;
}
 